@charset "UTF-8";
/* Body */
body {
  font-family: roboto;
  background-color: #f2f2f2;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-style: normal;
  font-weight: 200;
}
/* Pop-up*/
.popup-wrapper {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popup {
  font-family: roboto;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 10px;
  background-image: linear-gradient(cyan, white);
}

.popup-close {
  font-weight: bold;
  position: absolute;
  top: 5px;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.popup-button {
  padding: 10px 30px 10px 30px;
  margin: 10px;
  background-color: gray;
  border-radius: 3px;
  color: #fff;
  border: 1px solid black;
}

.popup-button:hover {
  background-color: #fefefe;
  color: black;
  cursor: pointer;
}

/* Pop-up Form*/
.user-data {
  width: 80%;
  margin: 5px;
  padding: 5px;
}

.user-message {
  width: 80%;
  min-height: 100px;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

/* Container */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: #ffffff;
}
/* Navigation */
header {
  width: 100%;
  height: 5%;
  background-color: #52bad5;
  border-bottom: 1px solid #2c9ab7;
}
.logo {
  color: #fff;
  font-weight: bold;
  text-align: undefined;
  width: 20%;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  letter-spacing: 4px;
}
nav {
  float: right;
  width: 70%;
  text-align: right;
  margin-right: 5px;
}
header nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  float: left;
  color: #ffffff;
  font-size: clamp(0.5rem, 0.7rem, 1rem);
  text-align: left;
  margin-right: 25px;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.3s linear;
}
ul li a {
  color: #ffffff;
  text-decoration: none;
}
ul li:hover a {
  color: #2c9ab7;
}
.hero_header {
  color: #ffffff;
  font-size: clamp(1.5rem, 2.3rem, 3.5rem);
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  letter-spacing: 4px;
}
/* Hero Section */
.hero {
  background-color: #b3b3b3;
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.817)
    ),
    url(../images/park5.jpeg);
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero.booking-page {
  background-color: #b3b3b3;
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.817)
    ),
    url(../images/park2.jpeg);
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.column-left {
  width: 50%;
  float: left;
}
.column-right {
  width: 50%;
  float: right;
}
.light {
  font-weight: bold;
  color: #5de800;
}
.tagline {
  text-align: center;
  color: #ffffff;
  margin-top: 4px;
  font-size: clamp(0.9rem, 0.75vw, 1rem);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sub-text {
  width: 100%;
}
.submit-button {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.submit-button:hover {
  background-color: #fefefe;
  color: black;
  cursor: pointer;
  border-width: 1px;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* About Section */
.spacer {
  height: 50px;
  margin: 50px;
  text-align: center;
}
.booking-section {
  padding: 50px;
  min-height: 230px;
}
.text_column {
  width: 29%;
  text-align: center;
  font-size: clamp(0.7rem, 1rem, 1.2rem);
  font-weight: normal;
  line-height: 25px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #a3a3a3;
}
.about {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  display: inline-block;
  background-color: #ffffff;
  margin-top: 0px;
}
/* Stats Gallery */
.stats {
  color: #717070;
  font-size: clamp(1.2rem, 1.8rem, 2rem);
  margin-bottom: 5px;
}

h4 {
  font-size: clamp(1rem, 1.2rem, 1.6rem);
}
h3 {
  font-size: clamp(1rem, 1.2rem, 1.6rem);
}
p {
  font-size: clamp(0.8rem, 1rem, 1.5rem);
}
.gallery {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 15px;
  /* [disabled]min-width: 400px;
*/
  padding-bottom: 35px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}
.thumbnail {
  width: 25%;
  text-align: center;
  float: left;
  margin-top: 35px;
}
.gallery .thumbnail h4 {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #52bad5;
}
.gallery .thumbnail p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #a3a3a3;
}
/* Service Section */
.boxa {
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.817)
    ),
    url(../images/park1.jpeg);
  height: 400px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.boxb {
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.817)
    ),
    url(../images/park4.jpeg);
  height: 400px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.boxc {
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.817)
    ),
    url(../images/park3.jpeg);
  height: 400px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.boxd {
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.817)
    ),
    url(../images/park2.jpeg);
  height: 400px;
  margin-bottom: 25px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.banner {
  background-color: grey;
  background-image: url(images/park2.jpg);
  height: 400px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.boxtext {
  color: #ffffff;
  font-size: clamp(1rem, 1.5rem, 2rem);
  text-align: right;
  padding-right: 100px;
  padding-top: 110px;
  letter-spacing: 2px;
  margin-top: 0px;
}
.parallax_description {
  color: #ffffff;
  text-align: right;
  padding-right: 100px;
  width: 30%;
  float: right;
  font-weight: lighter;
  line-height: 23px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* More info */
footer {
  background-color: #ffffff;
  padding-bottom: 35px;
}
.footer_column {
  width: 50%;
  text-align: center;
  padding-top: 30px;
  float: left;
}
footer .footer_column h3 {
  color: #b3b3b3;
  text-align: center;
}
footer .footer_column p {
  color: #717070;
  background-color: #ffffff;
}
.cards {
  width: 90%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  border-radius: 15px;
}
footer .footer_column p {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  line-height: 25px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
}
.button {
  width: clamp(200px, 300px, 450px);
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 1rem, 1.4rem);
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  transition: all 0.3s linear;
}
.button:hover {
  background-color: #fefefe;
  color: #c4c4c4;
  cursor: pointer;
}
.copyright {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #717070;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
}
.footer_banner {
  background-color: #b3b3b3;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  background-repeat: repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer {
  display: inline-block;
  border-radius: 15px;
}
.hidden {
  display: none;
}

/* Mobile */
@media (max-width: 320px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    display: none;
  }
  header nav ul {
    background-color: honeydew;
  }
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .text_column {
    width: 100%;
    text-align: justify;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .thumbnail {
    width: 100%;
  }
  .footer_column {
    width: 100%;
    margin-top: 0px;
  }
  .parallax {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 18px;
  }
  .parallax_description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 90%;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    float: none;
    text-align: center;
  }
  .banner {
    background-color: #2d9ab7;
    background-image: url(images/park2.jpg);
  }
  .tagline {
    font-size: 15px;
    margin-top: 20px;
    line-height: 22px;
    padding: 15px;
  }
  .hero_header {
    font-size: 45px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    text-align: center;
  }
}

/* Small Tablets */
@media (min-width: 321px) and (max-width: 767px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #043745;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    overflow: auto;
    display: inline-block;
    background: #52bad5;
  }
  header nav ul {
    padding: 0px;
    float: none;
  }
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .text_column {
    width: 100%;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .thumbnail {
    width: 100%;
  }
  .footer_column {
    width: 100%;
    margin-top: 0px;
  }
  .parallax {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 18px;
  }
  .parallax_description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 30%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: none;
    width: 90%;
    text-align: right;
  }
  .thumbnail {
    width: 50%;
  }
  .parallax {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 20%;
  }
  .boxtext {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 90%;
    padding-top: 60px;
  }
  .banner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_column {
    width: 100%;
  }
}
/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
  .text_column {
    width: 100%;
  }
  .thumbnail {
    width: 50%;
  }
  .text_column {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .banner {
    margin-top: 0px;
    padding-top: 0px;
  }
}
